@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a La libreria de luis conde</h1>
    <p>Proyecto definitivo para avanzar a Desarrollador Junior!</p>
</div>