
@model MyVet.Domain.Dto.UserDto
@{
ViewData["Title"] = "Authentication";
Layout = "_LayoutLogin";
}
<br />
<br />

<div class="row">
    <div class="animate__animated animate__backInLeft col-md-8 offset-2">
        <div class="card-header">
            <h3>  <strong>Iniciar Sessión</strong> </h3>
        </div>
        <div class="card-body">
            <section>
                <form id="account" asp-controller="Auth" asp-action="Login" method="post">
                    <h4> Iniciar sessión con cuenta registrada</h4>
                    <hr />

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="UserName"> </label>
                        <input asp-for="UserName" type="text" id="1" maxlength="200"  onChange="cambios()" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"> </label>
                        <input asp-for="Password" type="password" maxlength="200" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit"   value="Acceder" class="btn btn-primary" /> |

                       
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>


@*//Esto valida los DataAnnotation*@
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
   
<script type="text/javascript" charset="utf-8">
    function cambios(){
let validar = document.getElementById('1').value;
console.log(validar);
}

</script>


}
